#levelpage > #levels {
    list-style-type: none;
    padding: 0;
}

#levelpage li.button {
    width: 20px;
    height: 20px;

    float: left;

    cursor: pointer;
    text-align: center;
}

#levelpage > p.button {
    width: 100px;

    clear: both;
}
