div.buttons > .button {
    float: left;
}

.button {
    margin: 1em;
    padding: 0.3em;
    background-color: #000;
    color: #fff;
}

.button:hover {
    background-color: #444;
}

#scorewidget {
    position: absolute;
    top: 0;

    margin-left: 16px;
    padding: 4px;

    color: black;
    background-color: white;
    border: 1px solid black;
    opacity: 0.8;
}
