[submodule "js/externals/touchy"]
	path = js/externals/touchy
	url = https://github.com/figueredo/Touchy.js.git
[submodule "js/externals/color"]
	path = js/externals/color
	url = https://github.com/harthur/color.git
